#particles-js {
	background: /*#232741*/#141419;
	height: 100%;
	width: 100%;
	position: fixed;
}

h1, h4, span, p {
	color: #fff;
	pointer-events: none;
}

.fade-in { animation: fadeIn 4s; }

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}